body{
    background-color: rgb(169,169,255);
    font-family: monospace, sans-serif, "Times New Roman";
    color: yellow;
}

h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;

}

#main-title{
    color: black;
}

.brownie-title{
    color: brown;
}
.pizza-title{
    color: red;
}
.torta-title{
    color: green;
}

img{
    height: 395px;
    width: auto;
}

h2{
    color: rgb(241, 10, 10);
}